@charset "utf-8";

#wrap {
  width: 100%;
  height: 100%;
}

/* 상단(header) 부분---------------------------------------------------------------------------------------------------- */
/* 상단(header) 부분 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px 0 0 5.2%;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 666;
}
#header h1.logo {
  position: relative;
  z-index: 1004;
  width: 157px;
  height: 67px;
}
#header h1.logo a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 60px;
  font-weight: bold;
  color: #000;
  z-index: 1004;
}
#header.is-active {
  padding-top: 20px;
  padding-bottom: 30px;
}
/* 상단-네비 : 우측 아이콘---------------------------------------------------------------------------------------------------- */
#header_icon .nav-group {
  position: fixed;
  top: 78.5px;
  right: 8.2%;
  z-index: 99;
  /* width: 80px;
  height: 28px; */
  -webkit-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -khtml-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#header_icon .nav-group li {
  float: left;
  margin-right: 20px;
}
#header_icon .nav-group li:last-child {
  margin-right: 0px;
}
#header_icon .nav-group img {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  /* box-shadow: 0.51px 1px 0 #888; */
}
#header_icon .nav-group img:hover {
  width: 31px;
  height: 31px;
}
/* #header_icon .nav-group li:nth-child(2) img {
  box-shadow: 0.51px 1px 0 #f1f1f1;
} */
#header_icon .nav-group.is-active {
  top: 38.5px;
}
#header_icon .nav-viewer {
  position: fixed;
  top: 78.5px;
  right: 5.2%;
  z-index: 1001;
  width: 30px;
  height: 28px;
  -webkit-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -khtml-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#header_icon .nav-viewer i {
  position: absolute;
  right: 0;
  background-color: #fff;
  border: 1px solid #000;
  height: 4px;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -khtml-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 1px 1px 1px #000;
}
#header_icon .nav-viewer i:nth-child(1) {
  top: 0;
  width: 100%;
}
#header_icon .nav-viewer i:nth-child(2) {
  top: 50%;
  margin-top: -2px;
  width: 18px;
}
#header_icon .nav-viewer i:nth-child(3) {
  bottom: 0;
  width: 100%;
}
#header_icon .nav-viewer:hover i:nth-child(1),
#header_icon .nav-viewer:hover i:nth-child(3) {
  width: 23px;
}
#header_icon .nav-viewer:hover i:nth-child(2) {
  width: 100%;
}
#header_icon .nav-viewer.is-close i:nth-child(2) {
  width: 100%;
  opacity: 0;
}
#header_icon .nav-viewer.is-close i:nth-child(1),
#header_icon .nav-viewer.is-close i:nth-child(3) {
  width: 36px;
  left: 50%;
  margin-left: -18px;
}
#header_icon .nav-viewer.is-close i:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -khtml-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -2px;
}
#header_icon .nav-viewer.is-close i:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -khtml-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -2px;
}
#header_icon .nav-viewer.is-active {
  top: 38.5px;
}
.search {
  position: relative;
}
.top_srarch_text {
  background: rgba(255, 255, 255, 0.261);
  border: 1px solid #ccc;
  box-shadow: 1.5px 1.5px 4px rgba(219, 219, 219, 0.494);
  color: #ccc;
}
#btnSearchTop {
  position: absolute;
  top: 7px;
  right: 23px;
  width: 15px;
  height: 15px;
}
.search-box-close {
  display: inline-block;
  font-size: 20px;
  color: #ccc;
  text-shadow: 1.5px 1.5px 4px rgba(219, 219, 219, 0.275);
}
/* nav 부분---------------------------------------------------------------------------------------------------- */
/* 펼쳐지는 네비 부분 */
#main_mn {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  min-width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(100%);
  -khtml-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -khtml-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#main_mn .nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column;
  -khtml-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 0;
  padding-left: 15.625%;
  padding-left: 100px;
  height: 100%;
  min-height: 100%;
}

#side_mn {
  position: absolute;
  float: left;
  width: 200px;
  height: 300px;
  /* top: 220px; */
  top: 180px;
  /*left: 200px;*/
  left: 100px;
  /*background-color: green;*/
}

#side_mn ul li {
  margin-bottom: 10px;
}
#side_mn ul li a {
  font-size: 18px;
  color: #333;
  font-weight: 900;
  /* background-color: blue; */
}
#side_mn ul li a img {
  vertical-align: middle;
  margin-right: 15px;
  width: 35px;
  height: 30px;
  /* background-color: blue; */
}
#side_mn ul .sp-3 img {
  width: 40px;
  height: 37px;
  margin-left: -4px;
}
#side_mn ul .sp-5 img {
  width: 32px;
  height: 27px;
  margin-left: 3px;
}

#menu {
  margin: 0 auto;
  /* margin-top: 199px;*/
  /*padding-top: 50px;*/
  margin-top: 100px;
  margin-left: 220px;
  /* width: 1300px; */
  /* height: 850px; */
  width: 1200px;
  height: 850px;
}
#menu > ul {
  float: left;
  padding: 0 0 0 100px;
  width: 100%;
  height: 100%;
}
#menu > ul > li {
  position: relative;
  font-size: 80px;
  margin-bottom: 150px;
  font-weight: 900;
}
#menu > ul > li:last-child {
  margin: 0;
}

#menu > ul > li h4 {
  cursor: pointer;
  font-weight: 900;
  color: #444;
}
#menu > ul > li > a {
  cursor: pointer;
}

.contents {
  position: absolute;
  display: none;
  width: 1300px;
  height: auto;
  top: 0px;
  left: -410px;
}

/* ------ ABOUT SIDIZ ------ */
.contents #first {
  margin: 115px 0 0 240px;
}
.contents #first > li {
  float: left;
  margin-right: 280px;
  font-size: 50px;
}
.contents #first > li:last-child {
  float: left;
  margin-right: 0px;
  font-size: 50px;
}
.contents #first > li > a {
  color: #444;
  font-weight: 900;
}
.contents #first > li > a > img {
  display: block;
  margin: 60px 0 0 15px;
  width: 120px;
  height: 160px;
}

.contents #first > li > a #brand_img {
  margin: 50px 0 0 40px;
  width: 250px;
  height: 190px;
}

/* ------ PRODUCTS ------ */

.contents #second {
  margin: 115px 0 0 25px;
}
.contents #second > li {
  float: left;
  margin-right: 100px;
  font-size: 50px;
}
.contents #second > li:last-child {
  float: left;
  margin-right: 0;
  font-size: 50px;
}
.contents #second > li > a {
  color: #444;
  font-weight: 900;
}
.contents #second > li > a > img {
  display: block;
  margin: 60px 0 0 15px;
  width: 120px;
  height: 160px;
}

#interior_img {
  padding: 0 0 0 25px;
  box-sizing: border-box;
}

#all_img {
  padding: 15px 0 15px 40px;
  box-sizing: border-box;
}

/* ------ SUPPORT ------ */

.contents #third {
  margin: 115px 0 0 160px;
}
.contents #third > li {
  float: left;
  margin-right: 200px;
  font-size: 50px;
}
.contents #third > li:last-child {
  float: left;
  margin-right: 0;
  font-size: 50px;
}
.contents #third > li > a {
  color: #444;
  font-weight: 900;
}
.contents #third > li > a > img {
  display: block;
  margin: 60px 0 0 15px;
  width: 120px;
  height: 160px;
}
#counsel_img {
  padding: 10px 0 10px 35px;
  box-sizing: border-box;
}

#map_img {
  padding: 10px 0 10px 40px;
  box-sizing: border-box;
}

/* 글자 움직임 효과 */
#main_mn .has-sp {
  overflow: hidden;
  position: relative;
}
#main_mn .has-sp p,
#about p,
#products p,
#support p {
  -webkit-transform: translateX(30%);
  -khtml-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%);
  transform: translateX(30%);
  opacity: 0;
  -webkit-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -khtml-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

/* 엑티브 */
#main_mn.is-active {
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 5px 20px 0 rgba(0, 0, 0, 0.3);
}
#main_mn.is-active .has-sp p {
  -webkit-transform: translateX(0);
  -khtml-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
#main_mn.is-active .sp-1 p {
  -webkit-transition-delay: 0s;
  -khtml-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#main_mn.is-active .sp-2 p {
  -webkit-transition-delay: 0.1s;
  -khtml-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
#main_mn.is-active .sp-3 p {
  -webkit-transition-delay: 0.2s;
  -khtml-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#main_mn.is-active .sp-4 p {
  -webkit-transition-delay: 0.3s;
  -khtml-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#main_mn.is-active .sp-5 p {
  -webkit-transition-delay: 0.4s;
  -khtml-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#main_mn.is-active .sp-6 p {
  -webkit-transition-delay: 0.5s;
  -khtml-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
#main_mn.is-active .sp-7 p {
  -webkit-transition-delay: 0.6s;
  -khtml-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
#main_mn.is-active .sp-8 p {
  -webkit-transition-delay: 0.7s;
  -khtml-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
/* ---------------------------------------------- */
/*************이벤트**********************************/
#news {
  width: 100%;
}

/* 상단 선택 메뉴 */
#select_menu {
  width: 1200px;
  height: 70px;
  margin: 0 auto;
  line-height: 70px;
  margin-top: 100px;
  margin-bottom: 20px;
}
#select_menu > ul > li {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}

#select_menu > ul > li > span {
  font-size: 18px;
  color: #777;
  font-weight: 600;
}
#select_menu > ul > li:last-child {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 14px;
  border: 1px solid red;
  box-sizing: border-box;
  color: red;
}
/* 상단 선택 메뉴 끝 */

#news .n_contents {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#news .n_contents h4 {
  font-size: 40px;
  color: #807f83;
}
#news .nc_header {
  width: 100%;
  height: 100px;
}
#news .nc_header h4 {
  padding-bottom: 30px;
}
/*  제목 위 보더 스타일  */
#boarder .b_box {
  width: 100%;
  height: 5px;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  box-sizing: border-box;
  background-color: #fff;
}
#boarder .bb_t {
  border-top: 1px solid #777;
  box-sizing: border-box;
}

#boarder .b_title {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

#boarder .b_title > h5 {
  font-size: 25px;
  color: #777;
  font-weight: 600;
}
/*  제목 위 보더 스타일 끝 */
#news .nc_center {
  width: 100%;
  height: 1100px;
}

#news .nccb_image {
  float: left;
  margin-right: 15px;
  margin-bottom: 24px;
  width: 390px;
  height: 460px;
  background-color: #dedddf;
}
#news .nc_center .last_img {
  margin-right: 0;
}
#news .nccb_image .img_box {
  width: 390px;
  height: 390px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#news .nccb_image .img1 {
  background-image: url(https://cdn.sidiz.com/_upload/news/2103/F1616459308248ZUEPSFYCMPS.jpg);
}
#news .nccb_image .img2 {
  background-image: url(https://cdn.sidiz.com/_upload/news/2011/F1604620306494OXRYKCUYEEZ.jpg);
}
#news .nccb_image .img3 {
  background-image: url(https://cdn.sidiz.com/_upload/news/2009/F1599089554702SNCKMDQCFEK.jpg);
}
#news .nccb_image .img4 {
  background-image: url(https://cdn.sidiz.com/_upload/news/1804/F1523239556723VLVSWLSNIIV.jpg);
}
#news .nccb_image .img5 {
  background-image: url(https://cdn.sidiz.com/_upload/news/1803/F1522368830733CZPDKWAHAHD.jpg);
}
#news .nccb_image .img6 {
  background-image: url(https://cdn.sidiz.com/_upload/news/1802/F1519606015966VVXWBOTZYXH.jpg);
}
#news .nccb_image h4 {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  width: 95%;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#news .nccb_image p {
  font-size: 12px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
/* ---------------------------------------------- */
/* 매장찾기 버튼 */
.shop_btn {
  position: fixed;
  right: 5.2%;
  bottom: 80px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  z-index: 80;
  font-size: 13px;
  font-weight: 700;
  background-color: #fff;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.shop_btn:hover {
  width: 83px;
  height: 33px;
  font-size: 13px;
  line-height: 33px;
  color: #333;
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.4);
}
.shop_btn.is-active {
  opacity: 1;
  pointer-events: auto;
}
/* 챗본문의 버튼 */
.chat_btn {
  position: fixed;
  right: 5.2%;
  bottom: 40px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  z-index: 80;
  font-size: 13px;
  font-weight: 700;
  background-color: #fff;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.chat_btn:hover {
  width: 83px;
  height: 33px;
  font-size: 13px;
  line-height: 33px;
  color: #333;
  box-shadow: 0px 4px 9px 1px rgba(0, 0, 0, 0.4);
}
.chat_btn.is-active {
  opacity: 1;
  pointer-events: auto;
}
/* ---------------------------------------------- */
/* [하단(footer)] 부분 */
#footer {
  float: left;
  min-width: 1300px;
  width: 100%;
  height: 55vh;
  /* height: 550px; */
  /* position: relative; */
  /* overflow: hidden; */
}

/* 하단 : 탑 부분 */
#f_top {
  margin: 0 auto;
  width: 100%;
  /* height: 13vh; */
  height: 22%;
  background-color: rgb(34, 34, 34);
  padding: 3vh 4vw 0 5vw;
  box-sizing: border-box;
}
#f_top h2 {
  /* margin: 10px 0 0 20px; */
  float: left;
  width: 40px;
  height: 55px;
}
#f_top h2 a img {
  width: 100%;
}
#f_top .f_sns {
  float: right;
  margin-top: 30px;
}

#f_top .f_sns ul li {
  margin-right: 20px;
  float: left;
  width: 25px;
  height: 25px;
}
#f_top .f_sns ul li img {
  width: 100%;
}

/* 하단 : 바텀 부분 */
#f_bom {
  margin: 0 auto;
  padding: 0 4vw 100px 5vw;
  min-width: 1300px;
  width: 100%;
  /* height: 83vh; */
  height: 78%;
  background-color: rgb(34, 34, 34);
  box-sizing: border-box;
}

#f_bom .wp30 {
  float: left;
  /* width: 30%; */
  width: 25vw;
  height: 100%;
}
.lh18 {
  float: left;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.lh22 {
  float: left;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.lh20 {
  float: left;
  line-height: 22px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
a:link {
  text-decoration: none;
  color: #807f83;
}
.wp100 {
  float: left;
  /* display: inline-block; */
  width: 100%;
  /* text-decoration: none; */
}
#footer-section2 .wp100 img {
  float: left;
  width: 60px;
  height: 40px;
  margin-right: 10px;
}
.lh21 {
  float: left;
  line-height: 40px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.wp70 {
  float: left;
  width: 64vw;
  height: 100%;
  box-sizing: border-box;
}

.h55 {
  height: 55px;
}

.mgr74 {
  float: left;
  margin-right: 106px;
  font-weight: bold;
  text-decoration: underline;
}
.mgr74:last-child {
  margin-right: 0;
}
.bld {
  font-weight: bold;
}

#footer .subUl a {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}
.fntClr_1a59ff {
  margin-left: 20px;
  color: #1a59ff !important;
}

a {
  background: transparent;
}

.menuTitle {
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;
  height: 44px;
  margin-right: 120px;
}
.menuTitle:last-child {
  margin-right: 0;
}
.menuTitle:last-child .mgt20:first-child {
  font-size: 27px;
}
.menuTitle:last-child .mgt20:last-child {
  font-size: 15px;
}
.mgt20 {
  margin-top: 20px;
}
.mgr34 {
  width: 150px;
}
.f24 {
  line-height: 31px;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}

b,
strong {
  font-weight: bold;
}
.col999 {
  color: #999;
  font-size: 12px;
}

.f13 {
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}
.hand {
  text-decoration: underline;
  cursor: pointer;
}
